@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
  }

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #93f0b5;
}
section .quadrado{
    position: absolute;
    filter: blur(100px);
}
section .quadrado:nth-child(1){
    top: -370px;
    width: 500px;
    height: 500px;
    background: #f8dce0;
}
 
section .quadrado:nth-child(2){
    bottom: -170px;
    left: 110px;
    width: 500px;
    height: 500px;
    background: #0cf42b;
}


section .quadrado:nth-child(3){
    bottom: 80px;
    left: 120px;
    width: 450px;
    height: 450px;
    background: #f19fa6;
}

.quadrado{
    position: absolute;
    animation: animation 5s linear infinite;
    animation-delay: calc(1s * var(--i));
}
@keyframes animation{
    0%, 100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}

.loginBox{
    position: relative;
}
.loginContainer{
    position: relative;
    width: 400px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: top;
    justify-content: center;
    align-items: justify;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.loginForm{
    position: relative;
    width: 1500px;
    height: 150px;
    padding: 28px;
}

.loginForm h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.loginForm h5{
    position: relative;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
    padding-top: 1px;
}

.loginForm h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 4px;
    background: #fff;
}

.loginForm .inputBox{
    width: 100%;
    margin-top: 20px;
}

.loginForm .inputBox input, button{
    width: 295px;
    background: rgba(255, 255, 255, 0.2);
    border: nome;
    outline: nome;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.loginForm .inputBox input::placeholder {
    color: #fff;
}

.loginForm .inputBox input [type="Entrar"]{
  
    background: #fff;
    color: #666;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.loginForm .inputBox input [type="Entrar"]:hover{
    width: 295px;
    background: #faf7fa;
    border-radius: 10px;    
}



.EsqueceuSenha, .PrimeiroAcesso {
    margin-top: 5px;
    color: #fff;
}
  
.EsqueceuSenha a, .PrimeiroAcesso a {
    color: #fff;
    font-weight: 600;
}

.LogoIF {
    position: absolute;
    top: 350px;
    left: 125px;
    width: 160px;
    height: 100px;
  }
  
  .LogoIF a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .LogoIF a:hover {
    opacity: 0.8;
  }
  
  .LogoIF a:focus {
    outline: none;
  }
  
  .LogoIF a:active {
    opacity: 0.8;
  }
  
  .LogoIF a img {
    display: flexbox;
    width: 100%;
    height: 100%;
  }

.LogoIF {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .LogoIF img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  